#container{
    text-align: center;
}

#image{
    size: 10%;
}
#volunteer-button{
    margin-left: 11%;
    margin-bottom: 4%;
    width: 78%;
} 

#distressed-button{
    margin-left: 11%;
    width: 78%;
    margin-bottom: 20%;
}

#button {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5%;
  }
