ion-buttons{
    color: black;
}
#selectP {
    padding: 0 16px;
  }
  
  #selectP-Title {
    padding: 0;
    text-transform: capitalize;
  }
  ion-radio{
    --color-checked: var(--ion-color-danger);
  }