#selectP {
padding: 0 16px;
}

#selectT {
padding: 0;
text-transform: capitalize;
}

ion-col {
background-color: #f7f7f7;
border: solid 1px #ddd;
padding: 10px;
}

.vertical-align-content
{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}
.aLink {font-size: 15.7px ;}