.checkbox {
    margin: 18px 32px 18px 4px;
}

ion-checkbox{
    --border-color-checked	: var(--ion-color-danger);
    --background-checked	: var(--ion-color-danger);
}

ion-radio{
--color-checked: var(--ion-color-danger);
}